 
 /* -----------------------Media Start ------------------------- */
 

 
 
 
 
 :root {
    --white: #f2f7f5;
    --paragraph: #475d5b;
    --button: #faae2b;
    --button-text: #00473e;
    --secondarry-background: #9e102d;
    --tertiary_background: #470500;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;

}


/* ---------------------nav bar----------------------------------- */

nav {
    background-color: var(--tertiary_background);
    color: var(--white);
    padding: 20px 50px;
}


.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--secondarry-background);
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    background-color: transparent;
    border: none;
}

.searchInput::placeholder {
    color: rgb(245, 192, 201);

}

.limitedoffer {
    font-size: 20px;
    border-bottom: 2px solid rgb(224, 76, 57);
    cursor: pointer;
}


.navBottom {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: rgb(254, 214, 220);
    font-weight: 350;

}

/* ---------------------------------navbar end -------------------------- */

/* ---------------------------------slider start------------------------- */
.slider {
    background: url(https://img.freepik.com/premium-photo/black-brick-building-wall-interior-modern-loft-background-design_73152-5446.jpg);
    /* clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 66% 100%, 19% 89%, 0 75%); */
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}
.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
   

}

.sliderImg{
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    z-index: 1;

}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: var(--white);
    border: 1px solid lightgray;
    z-index: 1;
}


.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: var(--white);
    border: 1px solid lightgray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}
.buyButton:hover {
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg {

    background-color: rgb(249, 55, 87);
}

.sliderItem:nth-child(2) .sliderBg {

    background-color: rgb(55, 249, 61);
}

.sliderItem:nth-child(3) .sliderBg {

    background-color: rgb(249, 239, 55);
}

.sliderItem:nth-child(4) .sliderBg {

    background-color: rgb(246, 55, 249);
}

.sliderItem:nth-child(5) .sliderBg {

    background-color: rgb(97, 55, 249);
}

.sliderItem:nth-child(1) .sliderPrice {

    color: rgb(249, 55, 87);
}

.sliderItem:nth-child(2) .sliderPrice {

   color: rgb(55, 249, 61);
}

.sliderItem:nth-child(3) .sliderPrice {

   color: rgb(249, 239, 55);
}

.sliderItem:nth-child(4) .sliderPrice {

   color: rgb(246, 55, 249);
}

.sliderItem:nth-child(5) .sliderPrice {

   color: rgb(97, 55, 249);
}


/* -------------------------slider end--------------------------------- */

/* ---------------------------feature Starts-------------------------- */

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.featureIcon {
    width: 50px;
    display: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
}

/* ---------------------------feature ends-------------------------- */

/* -----------------------------product Starts---------------------- */

.product{
    height: 100vh;
    border-color: whitesmoke;
    position: relative;
    /* clip-path: polygon(0 9%, 30% 6%, 100% 0, 100% 18%, 99% 0, 100% 0, 100% 71%, 100% 100%, 26% 100%, 0 100%, 0% 85%); */
}

.productImg{
    width: 50%;
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}


.colors,.sizes {
    display: flex;
    margin: 20px;
}

.color{

    width: 32px;
    height: 32px;
    background-repeat: 5px;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover {
    color: black;
    background-color: white;
}

 /* -----------------------------product end---------------------- */
/* ----------------------------payment Start---------------------- */
 .payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; 
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.75);
}

.payTitle {
    font-size: 20px;
    color: rgb(75, 93, 94);
}

label{
    font-size: 14px;
    font-weight: 300;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder {
    color: rgb(135, 133, 133);
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 30%;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.75);
    background-color: rgb(4, 129, 4);
    color: white;
    border: none;
    cursor: pointer;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(71, 61, 61);
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

/* ----------------------------payment end---------------------- */

/* ----------------------------gallary starts------------------- */

.gallery {
    padding: 50px;
    display: flex;
}

.galleryItem {
    flex: 1;
    padding: 10px;
}

.galleryImg {
    width: 100%;
}
.galleryTitle {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
/* ----------------------------gallary ends------------------- */

/* -----------------------new Season start--------------------- */

.newSeason {
    display: flex;
}

.nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;

}

.nsImg {
    width: 100%;
    height: 500px;
}


.nsTitle {
    font-size: 40px;
}

.nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}


/* --------------------footer start-------------------- */

footer{
    display: flex;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }

.fMenuTitle {
    font-size: 16px;
}

.fList {
    padding: 0;
    list-style: none;
}

.fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;

}

.footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput {
    padding: 5px;
}

.fButton {
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons{
    display: flex;
}


.fIcon{
    width: 20px;
    height: 20px;
    margin: 10px;
}

@media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .sliderPrice{
      top: unset;
      bottom: -50;
      left: 0;
      background-color: lightgrey;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
  
    footer{
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
    }
  
    .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
    }
  
    .payment{
      width: 90%;
      padding: 20px;
    }
  }